.number-wrapper {
  height: 24px;
  overflow: hidden;
}
.number-list {
  font-size: 24px;
  font-weight: bold;
  
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}

.number-item {
  height: 24px;
}