.siderMenuWrapper {
  flex-shrink: 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    img {
      width: 35px;
      height: 35px;
    }

    h1 {
      color: #ffffff;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}