.siderMenuWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    img {
      width: 35px;
      height: 35px;
    }

    h1 {
      color: #ffffff;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .menu-list {
    flex: 1;
    overflow-y: auto;
  }
}
