.header {
  background-color: #fff;

  .headerTop {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;

    .welcome {
      display: inline-block;
      width: 100px;
      text-align: left;
    }

    a {
      margin-left: 20px;
    }
  }
}
